@font-face {
    font-family: MainFont ;
    src: url(assets/fonts/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MainFont;
}
body{
    background-color: #e6f7ff !important;
    height: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #000;
}
i{
    cursor: pointer;
}
.directHeader{
    display: flex;
    flex-direction: column;
}
.mainNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: white;
    border-bottom: 1px solid #dddd;
}
.mainNav h1{
    color: rgb(43, 43, 148);
}
.mainNavIcons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.mainNavIcons i{
    color: rgb(43, 43, 148);
    font-size: 20px;
}
.firstRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px ;
    background-color: white;
}
.userPersonalData{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.userPersonalData .arrowBack i{
    font-size: 22px;
}
.userPersonalData .arrowBack{
    display: flex;
    align-items: center;
}
.userID{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.userID p{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.newMessageIcon{
    margin: 0 2px;
}
.newMessageIcon i{
    font-size: 20px;
    /* color: rgb(43, 43, 148); */
}
.lastRow{
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    width: 100%;
    position: relative;
    background-color: white;
}
.lastRow input{
    width: 100%;
    padding: 10px 30px;
    outline: none;
}
.lastRow .searchBox i{
    position: absolute ;
    top: 20px;
    left: 20px;
    font-size: 20px;
}
.mainHeader{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
}
.mainHeader h2:last-child{
    cursor: pointer;
}
.messageBoxHolder{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    width: 100%;
    gap: 10px;
}
.messageBox{
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ddd;
}
.messageBox img{
    height: 35px;
    border-radius: 50%;
}
.messageBox .leftSide{
    display: flex;
    align-self: center;
    gap: 10px;
}
.messageBox .messageBoxNotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.messageBox .userProfile{
    display: flex;
    align-items: center;
}
.messageBox .messageBoxNotes .username{
    font-weight: bold;
}
.messageBox .messageBoxNotes .latestText{
    font-size: 13px;
    color: #353333;
    font-weight: lighter;
}
.directHeader2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.mainNav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: white;
    border-bottom: 1px solid #dddd;
    height: 60px;
}
.userDataRow{

    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ddd;
}
.userDataRow .rowLeft{
    display: flex;
    gap: 10px;
    align-items: center;
}
.userDataRow .rowLeft .userProfileImage{
    display: flex;
    align-items: center;
    gap: 5px;
}
.userProfileImage i{
    font-size: 40px;
}
.userDataRow .rowLeft img{
    height: 70px;
    border-radius: 50%;
}
.profileDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.profileDetails p:first-child{
    font-weight: bold;
}
.profileDetails p:last-child{
    font-size: 14px;
}
.rowRight i{
    font-size: 20px;
    
}
.chatField{
    margin-top: 150px;
    margin-bottom: 100px;
    padding: 20px 10px;
}
.messageHolder{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 100%;
}
.messageHolder > div{
    width: 100%;

}
.sentText{
    display: flex;
    justify-content: start;
    max-width: 800px;
}
.sentText .textContent{
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 800px !important;

}
.deliveredText{
    display: flex;
    justify-content: end;
    /* max-width: 800px !important; */
}
.deliveredText .textContent{
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 800px !important;
}
.textContent .details{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.text{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 800px !important;
    word-wrap: break-word;
    word-break: break-all;
}
.time{
    font-size: 14px;
    color: #7f7e7d;
    font-style: italic;
}
.status{
    font-size: 14px;
    color: #7f7e7d;
    font-style: italic;
}
.typeInputField{
    background-color: whitesmoke;
    z-index: 10000;
    border-top: 1px solid #ddd;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    gap: 10px;
    padding: 20px 15px;
    min-height: 50px;
}

.typeInputField .inputSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 15px;
}
.typeInputField input{
    width: 94%;
    height: 45px;
    padding: 00px 10px;
    outline: none;
    background: transparent;
    border: 1px solid black;
}
.typeInputField .inputSection i{
    font-size: 25px;
}
@media only screen and (max-width:1022px){
    .text{
        max-width: 650px !important;
    }
    .deliveredText .textContent{
        max-width: 650px !important;
    }
    .sentText .textContent{
        max-width: 650px !important;
    }
}
@media only screen and (max-width:726px){
    .text{
        max-width: 350px !important;
    }
    .deliveredText .textContent{
        max-width: 350px !important;
    }
    .sentText .textContent{
        max-width: 350px !important;
    }
}
@media only screen and (max-width:398px){
    .text{
        max-width: 250px !important;
    }
    .deliveredText .textContent{
        max-width: 250px !important;
    }
    .sentText .textContent{
        max-width: 250px !important;
    }
}