@font-face {
    font-family: MainFont ;
    src: url(assets/fonts/Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MainFont;
}
body{
    background-color: #e6f7ff !important;
}
a{
    text-decoration: none;
    color: #000;
}
i{
    cursor: pointer;
}
.directHeader{
    display: flex;
    flex-direction: column;
}
.mainNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: white;
    border-bottom: 1px solid #dddd;
}
.mainNav h1{
    color: rgb(43, 43, 148);
}
.mainNavIcons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.mainNavIcons i{
    color: rgb(43, 43, 148);
    font-size: 20px;
}
.firstRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px ;
    background-color: white;
}
.userPersonalData{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.userPersonalData .arrowBack i{
    font-size: 22px;
}
.userPersonalData .arrowBack{
    display: flex;
    align-items: center;
}
.userID{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.userID p{
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.newMessageIcon{
    margin: 0 2px;
}
.newMessageIcon i{
    font-size: 20px;
    /* color: rgb(43, 43, 148); */
}
.lastRow{
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    width: 100%;
    position: relative;
    background-color: white;
}
.lastRow input{
    width: 100%;
    padding: 10px 30px;
    outline: none;
}
.lastRow .searchBox i{
    position: absolute ;
    top: 20px;
    left: 20px;
    font-size: 20px;
}
.mainHeader{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
}
.mainHeader h2:last-child{
    cursor: pointer;
}
.messageBoxHolder{
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    width: 100%;
    gap: 10px;
}
.messageBox{
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 20px;
    background-color: whitesmoke;
    border-bottom: 1px solid #ddd;
}
.messageBox img{
    height: 35px;
    border-radius: 50%;
}
.messageBox .leftSide{
    display: flex;
    align-self: center;
    gap: 10px;
}
.messageBox .messageBoxNotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.messageBox .userProfile{
    display: flex;
    align-items: center;
}
.messageBox .messageBoxNotes .username{
    font-weight: bold;
}
.messageBox .messageBoxNotes .latestText{
    font-size: 13px;
    color: #353333;
    font-weight: lighter;
}